@inherits LayoutComponentBase
<link href="template/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900" rel="stylesheet" />
<link href="template/css/sb-admin-2.min.css" rel="stylesheet" />
<!-- layout trống cho trang auth -->
<div class="auth-root">
    @Body
</div>
<script src="template/vendor/jquery/jquery.min.js"></script>
<script src="template/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="template/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="template/js/sb-admin-2.min.js"></script>
